@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

@function convertPxToRem($px) {
  @return 0rem + strip-units($px)/14;
}

@mixin pxRem($property, $values) {
  // Create a couple of empty lists as output buffers:
  $px-values: ();
  $rem-values: ();

  // Ensure $values is a list.
  @if type-of($values) != 'list' {
    $values: join((), $values);
  }

  // Loop through the $values list:
  @each $value in $values {
    @if type-of($value) == number and (unitless($value) or unit($value) == px) {
    $px-values: join($px-values, 0px + ($value));
      $rem-values: join($rem-values, convertPxToRem($value));
    }
    @else {
    // no conversion:
    $px-values: join($px-values, $value);
    $rem-values: join($rem-values, $value);
    }
  }

  #{$property}: $px-values;

  // don't add media query if it's not needed:
  @if $px-values != $rem-values {
    // @media only all {
      #{$property}: $rem-values;
    // }
  }
}

@mixin boxShadow() {
  @include pxRem(box-shadow, 0 4 8 rgba(0, 0, 0, 0.1));
}

.container {
  @include boxShadow;
}
.title {
  background-color: aqua;
}

$a: 20px;
$b: $a + 30px;
#main {
  margin-bottom: $a;
}

#foooter {
  padding: $a;
}

.btn-submit {
  width: $b;
  background-color: red;
  &:hover {
    background-color: blue;
  }
}
 
.list {
  li {
    float: left;
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }
  }
}

section {
  width: 300px;
  font: {
    family: arial, sans-sefif;
    size: 16px;
  }

  @media only screen and (max-width: 768px) {
    width: 200px;
  }
}

.box {
  background-color: blue;
  border: 1px solid #f5f5f5;
}
.title {
  @extend .box;
  padding: 20px;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  @include reset-list;
  background-color: #f1f1f1;
  li {
    padding: 10px;
    border: 1px solid #ccc;
  }
}
@mixin center($w) {
  margin: 0 auto;
  width: $w;
}


@function getWidth($totalWidth, $number) {
  @return $totalWidth/$number;
}

.list {
  width: 600px;
  li {
    float: left;
    width: getWidth(600px, 4);
  }
}

