<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="reset.css">
  <style>
    body {
      width: 500px;
      margin: 0 auto;
    }

    p {
      background-color: rgb(207, 232, 220);
      border: 2px solid rgb(79, 185, 227);
      padding: 10px;
      margin: 10px;
      border-radius: 5px;
    }
    .positioned {
      position: relative;
      top: 30px;
      left: 30px;
    }
  </style>
</head>

<body>
  <h1>Positioning</h1>

  <p>I am a basic block level element.</p>
  <p class="positioned">I am a basic block level element.</p>
  <p>I am a basic block level element.</p>
</body>

</html>